.footer{
  margin-top: 95px;
  background-color: #121212;

  &__container{
    margin: 70px auto 70px auto;
    display: flex;
    width: 1400px;
    justify-content: space-between;
    align-items: flex-start; color: #fff;
    &__content{
      .disclaimer{
        margin-block-start: 0;
        margin-block-end: 0;
        color: #FFF;
        font-family: Jura,sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.232px;
      }
      p{
        color: #FFF;
        font-family: Jura,sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.232px;
        opacity: 0.5;
        max-width: 588px;
        margin-top: 12px;
      }
    }
    &__soc{
      h5{
        margin-block-start: 0;
        margin-block-end: 0;
        color: #FFF;
        font-family: Jura,sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.232px;
      }

      &__links{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        a{
          display:flex;
          gap: 8px;
          align-items: center;
          color: unset;
          text-decoration: none;
        }
      }

    }
  }
  .copyrights__container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 41px;
    background: #1B1B1B;
    &__terms{
      &a{
        color: unset;
      }
      opacity: 0.7;
      color: #FFF;
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
    }
    &__copy{
      color: #FFF;
      font-family: "DM Sans",sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.7;
    }
  }
}

