<ngx-slick-carousel class="carousel"
                    #slickModal="slick-carousel"
                    [config]="slideConfig"
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">

    @for (slide of slides; track $index) {
        <div ngxSlickItem class="slide" routerLink="/games/{{slide.gameId}}" aria-hidden="true">
            @if (slide?.img) {
                <img ngSrc="{{ slide.img }}" alt="{{slide.title}}" width="280" height="131">
            }
            <div class="slide__tag"><span>#{{ 1 + $index }}</span></div>
            <div class="slide__description">
                <p class="slide__description__title">{{ slide.title }}</p>
                <div class="slide__description__price-container">
                    @if (slide.price) {
                        <p class="slide__description__price-container__from">From:</p>
                        <p class="slide__description__price-container__price">{{ slide.price.split(' ')[0] }}</p>
                    }
                    @if (slide.isFree) {
                        <p class="slide__description__price-container__price">Free</p>
                    }
                </div>
            </div>
        </div>
    }

</ngx-slick-carousel>

<!--<button (click)="addSlide()">Add</button>-->
<!--<button (click)="removeSlide()">Remove</button>-->
<!--<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>-->
<!--<button (click)="slickModal.unslick()">unslick</button>-->
