<div class="pagination">
  <div class="pagination__button">
    <img width="16"
         height="16"
          ngSrc="/assets/svg/left-arrow.svg" alt="">
    <p>Previous</p>
  </div>

  <div class="pagination__page__container">
    <div class="pagination__page active">
      <p>1</p>
    </div>
    <div class="pagination__page">
      <p>2</p>
    </div>
    <div class="pagination__page">
      <p>3</p>
    </div>
  </div>

  <div class="pagination__button">
    <p>Next</p>
    <img
      width="16"
      height="16"
      ngSrc="/assets/svg/right-arrow.svg" alt="">
  </div>
</div>
