
<div class="home-page" style="">
    <div class="" style="border-radius: 12px; overflow: hidden">
        <img priority ngSrc="assets/cover.jpg" width="1400" height="280" alt="most popular games">
    </div>
    <!-- You can now use your library component in app.component.html -->
    <div class="slider-header">
        <div class="slider-header__left">
            <img ngSrc="assets/svg/fire.svg" alt="most popular games" width="24" height="24">
            <h4>MOST POPULAR GAMES</h4>
        </div>
        <div class="slider-header__right" routerLink="/games">
            See All
        </div>
    </div>


    @if (sliderData) {
        <app-item-slider [slides]="sliderData"/>
    }
    <div class="deals-container">
        @if (newDeals) {
            <app-deals-cards [title]="'New Deals'" [dealsCards]="newDeals"/>
        }
        @if (bestDeals) {
            <app-deals-cards [title]="'Best Deals'" [dealsCards]="bestDeals"/>
        }
    </div>
</div>

