<div class="deals">
  <h3 class="deals__title">{{title}}</h3>
<!--  <div class="deals__see-all">See All (123)</div>-->
</div>
<div class="deals__cards">
  @for (card of dealsCards; track card) {
    <app-deals-card
                    routerLink="games/{{card.gameId}}"
                    [name]="card.name"
                    [src]="card.headerImageUrl"
                    [discount]="card.discountPercent"
                    [price]="card.lowestPriceText.split(' ')[0]"></app-deals-card>
  }
</div>
