<div class="filter"
     [class.filter--active]="openClose">
    <div appClickOutside (clickOutside)="closeDropdown()" (click)="openCloseDropdown()">
        <span>{{ text }}</span>
        @if (!openClose) {
            <img src="assets/svg/arrow-down.svg" height="8" width="14" alt="arrow">
        } @else {
            <img src="assets/svg/arrow-up.svg" height="8" width="14" alt="arrow">
        }
    </div>
    <div class="filter__menu"
         [class.active]="openClose"
         [ngStyle]="last ? {'right': '-20px'} : {}">
        @for (item of items; track item; let i = $index) {
            <div class="filter__menu__item"
                 (click)="toggleFilters(i)">
                <img [src]="toggleStates[i] ? 'assets/svg/true.svg' : 'assets/svg/false.svg'" height="17" width="16"
                     alt="true">
                <span>{{ item.name }}</span>
            </div>
        }
    </div>
</div>
