.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}


.page__title {
  color: #FFF;
  font-family: Jura, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-block-start: 32px;
  margin-block-end: 22px;
}

.page__description {
  color: rgba(#FFF, 0.7);
  font-family: Jura, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  display: flex;
}

.games-list {
  flex: 1;
}

.sidebar {
  position: sticky;
  top: 10px; /* Adjust this value to control when the sticky starts */
  flex-shrink: 0; /* Prevent the sidebar from shrinking */
}


/* Sidebar on the right stays sticky */
.sidebar {
  position: sticky;
  top: 10px; /* This is to match the header height */
  height: auto;
  align-self: flex-start;
}

/* Scrollable items in the container */
.items {
  overflow-y: auto;
  height: calc(100vh - 60px); /* Adjust this based on the header height */
}

/* Scrollable games card within the sidebar */
.games-card {
  height: 100%; /* Or any height */
  overflow-y: auto;
}

.presets {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.games-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1400px
}